<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">about</h1>
            <p class="d-flex justify-content-center">
                Node.js is a cross-platform, open-source server environment that can run on Windows, Linux, Unix, macOS, and more.
                Node.js is a back-end JavaScript runtime environment, runs on the V8 JavaScript engine, 
                and executes JavaScript code outside a web browser
            </p>
        </section>
    </main>
    <%- include ('partials/footer') %> 
</body>
</html>
